html, body {
    font-family: "Finlandica", sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: max(300px) auto;
    grid-template-rows: min-content max(71px) auto;
    grid-template-areas:
        "sp sp"
        "sb hd"
        "sb mn";

    min-height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0.349);
    opacity: 0;
    visibility: hidden;
}

.overlay--show {
    opacity: 1;
    visibility: visible;
}

.container {
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.button {
    display: flex;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000;
    opacity: .8;
    padding: 10px 12px;
    background: #d9d9d9;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.button:hover {
    background: #c9c9c9;
}

.spec-panel {
    grid-area: sp;
}

.header {
    grid-area: hd;
}

.aside {
    grid-area: sb;
}

.main {
    grid-area: mn;
}

/* ============================================= ASIDE ============================================= */

.aside__nav-item:nth-child(3) {
    border: 2px solid #0af;
}

/* ============================================= MAIN ============================================= */
/* ============================================= SEARCH ============================================= */

.main__search {
}

.main__search-inner {
    padding: 15px 0 15px 0;
    border-bottom: 0.5px solid #000;
}
.search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    height: 34px;
    border: 1px solid #000;
    border-radius: 10px;
    background: #fff;
}
.search__button {
    margin-left: 10px;
    background: #fff;
}
.search__input {
    width: 100%;
    margin: 0 10px 0 10px;
}

/* ============================================= TABLE ============================================= */
/* =========================================== ADD ENTITY ================================================= */

.main__add-entity {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    z-index: 150;
    background-color: #EDEDED;
}
.main__add-entity--show {
    display: block;
}

.add-entity__form{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-entity__title {
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    font-size: 1.25rem;
}
.add-entity__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.add-entity__item {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 3px 3px;
    width: 160px;
}
.add-entity__item-title {
    white-space: nowrap;
    font-size: 0.875rem;
    margin-top: 10px;

}
.add-entity__input {
    padding: 3px 3px;
    border-radius: 5px;
    height: 22px;
    width: 100%;
}
.add-entity__btn {
    background-color: #0af;
    font-weight: 1rem;
}
/* ============================================= TABLE ==========================================================*/

.main__table {
}
.main__table-inner {
}
.table__top {
    position: relative;
}
.table__top-list {
    display: grid;
    grid-template: min-content / repeat(5, 1fr);
    gap: 5px;
    justify-content: space-between;

    
}

.table__top-item {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
    justify-self: center;
}

.table__top-item:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.table__top-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.table__top-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.table__top-item:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.table__top-item:nth-child(5) {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.table__top-item a{
    display: flex;
}

.table__top-title {
    margin-right: 4px;
    white-space: nowrap;
    font-size: 1rem;
}
.table__top-filter {
    transform: translateY(15%);
}
.table__top-filter-svg {
    height: 5px;
    width: 5px;
    margin-bottom: 2px;
}

.table__top-filter-svg:last-child {
    margin-bottom: 0;
}

.table__top-filter-svg svg{
    display: block;
}

.table__top-filter-svg.active path{
    fill: #000;
}
.stripe {
    position: absolute;
    content: "";
    width: 84%;
    padding: 0;
    margin: 0 -30px;
    border-bottom: 0.5px solid #000;
    z-index: 100;
}
.table__main {
}
.table__main-form {
    position: relative;
}
.table__main-form div {
    overflow: auto;
    max-height: 72vh;
}
.table__main-list {
    display: grid;
    grid-template: repeat(auto-fit, minmax(10px, 30px)) / repeat(5, 1fr);
    gap: 5px;
    justify-content: space-between;
}
.table__main-item {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 3px 3px;
}
.table__main-item:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.table__main-item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.table__main-item:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.table__main-item:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.table__main-item:last-child {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}

.table__main-item select{
    font-family: "Finlandica", sans-serif;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 22px;
    padding: 3px 3px;
    border-radius: 5px;
    width: 100%;
}

.table__main-input {
    padding: 3px 3px;
    border-radius: 5px;
    height: 22px;
    width: 100%;
}

.table__main-input::-webkit-outer-spin-button,
.table__main-input::-webkit-inner-spin-button{
    display: none;
}

.table__main-btn-box {
    position: absolute;
    right: 0;
    bottom: -54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.add {
    height: 44px;
}

.table__main-form-btn{
    background-color: #0af;
}

.table__main-form-btn:hover{
    background-color: #0090e1;
}
