<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>Aviro Airlines - Вход в профиль</title>
    <link rel="stylesheet" th:href="@{/styles/signup.css}" />
</head>
<body>
<main class="screen">
    <div class="rectangle" role="presentation"></div>
    <header class="view">
        <div class="aviro-airlines">
            <h1 class="div">
                <a th:href="@{/home}" class="div">
                    <span class="brand-bold">Aviro</span> Airlines
                </a>
            </h1>
        </div>
        <a th:href="@{/home}" class="close" aria-label="Закрыть">
            <img th:src="@{/img/close.png}" alt="" />
        </a>
    </header>
    <section class="view-2">
        <div class="view-6">
            <h2 class="text-wrapper-6">Регистрация профиля</h2>
            <p class="text-wrapper-5">Для регистрации введите почту и пароль</p>
            <div class="error" th:if="${errors}">
                <p style="color: red" th:each="error: ${errors}" th:text="${error.defaultMessage}">Error Message</p>
            </div>
            <div class="error" th:if="${email}">
                <p style="color: red" th:text="${email}">Error Message</p>
            </div>
        </div>
        <form class="login-form" th:action="@{/signup}" method="POST" th:object="${passenger}">
            <div class="div-3">
                <label for="email" class="text-wrapper-4"></label>
                <input
                        type="text"
                        id="email"
                        name="email"
                        class="div-2"
                        required
                        aria-required="true"
                        autocomplete="email"
                        placeholder="Почта"
                        th:value="*{email}"
                />
            </div>
            <div class="view-5">
                <label for="password" class="text-wrapper-3"></label>
                <input
                        type="password"
                        id="password"
                        name="password"
                        class="div-2"
                        required
                        aria-required="true"
                        autocomplete="password"
                        placeholder="Пароль"
                        th:value="*{password}"
                />
            </div>
            <div class="view-3">
                <button type="submit" class="view-4">
                    <span class="text-wrapper-2">Регистрация</span>
                </button>
            </div>
            <div class="login">
                <a th:href="@{/login}" class="text-wrapper-log">Вход</a>
            </div>
        </form>
    </section>
</main>
</body>
</html>