html,
body {
    margin: 0;
    padding: 0;

}
/* a blue color as a generic focus style */
button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}
a {
    text-decoration: none;
}

:root {
    --variable-collection-brand: #00AAFF;
}

.aviro-airlines {
    background-color: #ffffff;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.aviro-airlines .view {
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    margin-top: 31px;
    display: flex;
    gap: 1103px;
}

.aviro-airlines .aviro-airlines-wrapper {
    width: 160px;
    height: 47px;
    display: flex;
}

.aviro-airlines .div {
    flex: 1;
    width: 165px;
    font-family: "Ranga-Bold", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-brand);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.aviro-airlines .text-wrapper {
    font-weight: 700;
}

.aviro-airlines .span {
    font-family: "Ranga-Regular", Helvetica;
}

.aviro-airlines .div-wrapper {
    margin-top: 11px;
    width: 45px;
    height: 24px;
    display: flex;
}

.aviro-airlines .text-wrapper-2 {
    position: absolute;
    flex: 1;
    width: 45px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .account {
    position: absolute;
    width: 40px;
    top: 30px;
}

.aviro-airlines .view-2 {
    width: 1490px;
    height: 308px;
    position: relative;
    margin-top: 14px;
    left: -110px;
}

.aviro-airlines .element {
    position: absolute;
    top: 0;
    left: 0;
    width: 1480px;
    height: 308px;
    aspect-ratio: 4.83;
    object-fit: cover;
}

.aviro-airlines .text-wrapper-3 {
    position: absolute;
    top: 125px;
    left: 473px;
    font-family: "Red Hat Display-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 44px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .p {
    margin-left: auto;
    margin-right: auto;
    width: 590px;
    height: 96px;
    margin-top: 45px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #494949;
    font-size: 36px;
    letter-spacing: -1.80px;
    line-height: normal;
}

.aviro-airlines .element-2 {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 84px;
    margin-top: 43px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.80px;
    line-height: normal;
}

.aviro-airlines .text-wrapper-4 {
    margin-left: auto;
    margin-right: auto;
    width: 648px;
    height: 96px;
    margin-top: 42px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #494949;
    font-size: 36px;
    letter-spacing: -1.80px;
    line-height: normal;
}

.aviro-airlines .view-3 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    margin-bottom: 24px;
    margin-top: 59px;
    position: relative;
}

.aviro-airlines .text-wrapper-5 {
    position: absolute;
    top: 57px;
    left: 273px;
    width: 227px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.80px;
    line-height: normal;
}

.aviro-airlines .view-4 {
    position: relative;
    top: 40px;
    left: 0;
    width: 250px;
    height: 250px;
    display: flex;
}

.aviro-airlines .img {
    width: 428px;
    height: 250px;
    margin-left: -89px;
}

.aviro-airlines .group {
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
    height: 36px;
    display: flex;
    gap: 328px;
}

.aviro-airlines .text-wrapper-6 {
    width: 148px;
    height: 36px;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #494949;
    font-size: 24px;
    letter-spacing: -1.20px;
    line-height: normal;
}

.aviro-airlines .add {
    position: static;
    width: 24px;
    height: 24px;


}

.aviro-airlines .rectangle {
    position: static;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-top: 16px;
}

.aviro-airlines .div-2 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    position: relative;
    margin-top: 40px;
    margin-bottom: 24px;
}

.aviro-airlines .element-3 {
    width: 428px;
    height: 250px;
    margin-left: -89px;
    aspect-ratio: 1.71;
    object-fit: cover;
}

.aviro-airlines .group-2 {
    gap: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
    height: 36px;
    display: flex;
}

.aviro-airlines .text-wrapper-7 {
    width: 176px;
    height: 36px;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #494949;
    font-size: 24px;
    letter-spacing: -1.20px;
    line-height: normal;
}

.aviro-airlines .text-wrapper-8 {
    position: absolute;
    top: 260px;
    left: 0;
    width: 500px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.80px;
    line-height: normal;
}

.aviro-airlines .view-5 {
    position: relative;
    top: 40px;
    left: -5px;
    width: 200px;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.aviro-airlines .element-4 {
    width: 195px;
    height: 100%;
    object-fit: contain;
    margin: 0;
    aspect-ratio: 0.59;
}

.aviro-airlines .view-6 {
    position: relative;
    top: -210px;
    left: 182px;
    width: 200px;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.aviro-airlines .view-7{
    top: 40px;
    position: relative;
    left: -5px;
    width: 250px;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.aviro-airlines .view-8 {
    position: relative;
    top: -210px;
    left: 239px;
    width: 250px;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.aviro-airlines .element-5 {

    width: 212px;
    height: 100%;
    object-fit: contain;
    margin: 0;
    aspect-ratio: 0.64;
}

.aviro-airlines .group-3 {
    gap: 252px;
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
    height: 36px;
    display: flex;
}

.aviro-airlines .text-wrapper-9 {
    width: 224px;
    height: 36px;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #494949;
    font-size: 24px;
    letter-spacing: -1.20px;
    line-height: normal;
}

.aviro-airlines .rectangle-2 {
    position: static;
    top: 56px;
    left: 0;
    width: 500px;
    height: 300px;
}

.aviro-airlines .rectangle-3 {
    margin-top: 30px;
    position: static;
    top: 660px;
    left: 0;
    width: 500px;
    height: 300px;


}

.aviro-airlines .image {
    margin-top: 22px;
    width: 351px;
    height: 205px;
    margin-left: -44px;
    aspect-ratio: 1.71;
    object-fit: cover;
}

.aviro-airlines .group-4 {
    gap: 277px;
    position: absolute;
    top: 0;
    left: 0;
    width: 502px;
    height: 36px;
    display: flex;
}

.aviro-airlines .text-wrapper-10 {
    width: 199px;
    height: 36px;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #494949;
    font-size: 24px;
    letter-spacing: -1.20px;
    line-height: normal;
}

.aviro-airlines .element-6 {
    position: absolute;
    top: 320px;
    width: 500px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.80px;
    line-height: normal;
}

.aviro-airlines .image-2 {
    margin-top: -2px;
    width: 239px;
    height: 263px;
    margin-left: 5px;
    aspect-ratio: 0.91;
}

.aviro-airlines .image-3 {
    margin-top: -13px;
    width: 261px;
    height: 276px;
    margin-left: -6px;
    aspect-ratio: 0.95;
}
.footer-rectangle {
    max-width: 1480px;
    margin: 0 auto;
    height: 327px;
    position: relative;

}

footer {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 327px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8F8F8F;
}

.view-12 {
    position: absolute;
    width: 55.68%;
    height: 9.79%;
    top: 8.87%;
    left: 6.76%;
}

.text-wrapper-14 {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
}

.text-wrapper-15 {
    position: absolute;
    width: 19.42%;
    height: 100%;
    top: 0;
    left: 80.10%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.view-13 {
    position: absolute;
    width: 19.32%;
    height: 37.92%;
    top: 24.77%;
    left: 72.30%;
}
.text-wrapper-16 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-17 {
    position: static;
    width: auto;
    height: auto;
    top: 56.45%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-18 {
    position: static;
    width: auto;
    height: auto;
    top: 28.23%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-19 {
    position: static;
    width: auto;
    height: auto;
    top: 84.68%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-14 {
    position: absolute;
    width: 10.74%;
    height: 48.62%;
    top: 24.77%;
    left: 6.76%;
}

.text-wrapper-20 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-21 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-22 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-23 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-24 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-15 {
    position: absolute;
    width: 17.57%;
    height: 48.62%;
    top: 24.77%;
    left: 27.03%;
}
.text-wrapper-25 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-26 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-27 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-28 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-29 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-16 {
    position: absolute;
    width: 9.59%;
    height: 48.62%;
    top: 24.77%;
    left: 51.35%;
}

.text-wrapper-30 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-31 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-32 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-33 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-34 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-4 {
    position: absolute;
    width: 86.49%;
    height: 9.48%;
    top: 79.51%;
    left: 6.76%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #00000033;
}

.view-17 {
    position: absolute;
    width: 1279px;
    height: 42px;
    top: 275px;
    left: 101px;
}

.view-18 {
    position: absolute;
    width: 28.54%;
    height: 88.10%;
    top: 0;
    left: 71.93%;
}

.text-wrapper-35 {
    position: absolute;
    width: 6.30%;
    height: 43.24%;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #313131;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-36 {
    position: absolute;
    width: 40.27%;
    height: 51.35%;
    top: 48.65%;
    left: 0;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-37 {
    position: absolute;
    width: 30.68%;
    height: 51.35%;
    top: 48.65%;
    left: 67.67%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-19 {
    position: absolute;
    width: 6.02%;
    height: 71.43%;
    top: 28.57%;
    left: 0;
}

.text-wrapper-38 {
    position: absolute;
    width: 32.47%;
    height: 63.33%;
    top: 20.00%;
    left: 64.94%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}
.chat {
    position: absolute;
    width: 38.96%;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 0.7;
    aspect-ratio: 1;
    object-fit: cover;
}

.view-20 {
    position: absolute;
    width: 12.35%;
    height: 71.43%;
    top: 28.57%;
    left: 11.10%;
}

.text-wrapper-39 {
    position: absolute;
    width: 67.09%;
    height: 63.33%;
    top: 20.00%;
    left: 31.65%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.phone {
    position: absolute;
    width: 18.99%;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 0.7;
    aspect-ratio: 1;
    object-fit: cover;
}
/* Inject original CSS code here */

.aviro-airlines a {
    color: inherit;
    text-decoration: none;
}

.aviro-airlines a:hover {
    opacity: 0.8;
}

.aviro-airlines .baggage-details {
    width: 500px;
    display: block;
}

.aviro-airlines .baggage-details summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aviro-airlines .baggage-details summary::-webkit-details-marker {
    display: none;
}

.aviro-airlines .baggage-details[open] .add {
    transform: rotate(45deg);
}

.aviro-airlines .baggage-details[open] .rectangle,
.aviro-airlines .baggage-details[open] .rectangle-2 {
    display: block;
}

.aviro-airlines .baggage-details:not([open]) .rectangle,
.aviro-airlines .baggage-details:not([open]) .rectangle-2 {
    display: none;
}

.aviro-airlines .add {
    transition: transform 0.3s ease;
}


.aviro-airlines h1,
.aviro-airlines h2,
.aviro-airlines h3,
.aviro-airlines h4 {
    margin: 0;
    padding: 0;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

footer li{
    margin-bottom: 16px;
}

.aviro-airlines summary {
    border-top: 1px solid #E5E5E5;
    padding-top: 16px;
}
.aviro-airlines article:last-of-type details[open]{
    padding-bottom: 100px;
}

.aviro-airlines article:last-of-type details{
    border-bottom: 1px solid #E5E5E5;
}

.aviro-airlines article:last-of-type {
    margin-bottom: 120px;
}

.aviro-airlines article:last-of-type summary {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 16px
}