:root{
    --variable-collection-brand: #00AAFF;
}

body, html {
    margin: 0;
    padding: 0;
    min-width: 1480px;
}

.aviro-airlines {
    display: flex;
    background-color: #ffffff;
    width: 1480px;
    min-height: 1200px;
    position: relative;
    margin: 0 auto;
    justify-content: center;

}

.aviro-airlines .element {
    position: absolute;
    top: 0;
    left: 0;
    width: 1480px;
    height: 893px;
    aspect-ratio: 1.5;
    object-fit: cover;
}

.aviro-airlines .view {
    position: absolute;
    top: 402px;
    left: 99px;
    width: 510px;
    height: 116px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.aviro-airlines .text-wrapper {
    width: 506px;
    height: 42px;
    font-family: "Red Hat Display-Black", Helvetica;
    font-weight: 900;
    color: #3d3a3a;
    font-size: 32px;
    letter-spacing: -0.64px;
    line-height: normal;
}

.aviro-airlines .div {
    width: 430px;
    height: 64px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #3d3a3a;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: normal;
}

.aviro-airlines .text-wrapper-2 {
    position: absolute;
    top: 178px;
    left: 549px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3ae6;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .view-2 {
    position: absolute;
    top: 32px;
    left: 99px;
    width: 1281px;
    height: 47px;
    display: flex;
}

.aviro-airlines .aviro-airlines-wrapper {
    width: 132px;
    height: 47px;
    display: flex;
}

.aviro-airlines .p {
    flex: 1;
    width: 165px;
    font-family: "Ranga-Bold", Helvetica;
    font-weight: 400;
    color: var(--variable-collection-brand);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .brand-title {
    font-family: "Ranga", Helvetica;
    white-space: nowrap;
}

.aviro-airlines .div-wrapper {
    margin-top: 11px;
    width: 132px;
    height: 24px;
    margin-left: 843px;
    display: flex;
}

.aviro-airlines .text-wrapper-4 {
    flex: 1;
    width: 132px;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #3d3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .view-3 {
    margin-top: 11px;
    width: 45px;
    height: 24px;
    margin-left: 129px;
    display: flex;
}

.aviro-airlines .text-wrapper-5 {
    position: absolute;
    flex: 1;
    width: 45px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .account {
    position: absolute;
    width: 40px;
    top: -1px;
}

.aviro-airlines .view-4 {
    position: absolute;
    top: 202px;
    left: 100px;
    width: 1280px;
    height: 70px;
    vertical-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid;
    border-color: #00000033;
    box-shadow: 0 4px 4px #00000033;
}

.aviro-airlines .view-5 {
    position: absolute;
    width: 322px;
    height: 70px;
    border-right: 1px solid;
    border-color: #00000033;
}

.aviro-airlines .rectangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 263px;
    height: 22px;
    background-color: #ffffff;
    border-radius: 10px 0 0 10px;
    border: 1px solid;
    border-color: #00000033;


}

.aviro-airlines .view-6 {
    position: absolute;
    top: 0;
    left: 320px;
    width: 322px;
    height: 70px;
    border-right: 1px solid;
    border-color: #00000033;
}

.aviro-airlines .rectangle-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 263px;
    height: 22px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000033;
}

.aviro-airlines .text-wrapper-7 {
    position: absolute;
    top: 24px;
    left: 50px;
    width: 36px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #00000066;
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .view-7 {
    position: absolute;
    top: 0;
    left: 960px;
    width: 162px;
    height: 70px;
    border-right: 1px solid;
    border-color: #00000033;
}

.aviro-airlines .return, .departure, .passengers {
    position: absolute;
    top: 0;
    left: 0;
    width: 122px;
    height: 22px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000033;
}


.aviro-airlines .view-8 {
    position: absolute;
    top: 0;
    left: 640px;
    width: 162px;
    height: 70px;
    border-right: 1px solid;
    border-color: #00000033;
}


.aviro-airlines .view-9 {
    position: absolute;
    top: 0;
    left: 800px;
    width: 162px;
    height: 70px;
    border-right: 1px solid;
    border-color: #00000033;
}

.aviro-airlines .view-10 {
    position: absolute;
    top: 0;
    left: 1120px;
    width: 162px;
    height: 70px;
}

.aviro-airlines .rectangle-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 70px;
    background-color: var(--variable-collection-brand);
    border-radius: 0px 10px 10px 0px;
}

.aviro-airlines .text-wrapper-11 {
    position: absolute;
    top: 24px;
    left: 49px;
    width: 62px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000cc;
    font-size: 20px;
    white-space: nowrap;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .swap {
    position: absolute;
    width: 2.34%;
    height: 35.71%;
    top: 34.00%;
    left: 24%;
}

.aviro-airlines .text-wrapper-12 {
    position: absolute;
    top: 178px;
    left: 328px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3ae6;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .text-wrapper-13 {
    position: absolute;
    top: 178px;
    left: 776px;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3ae6;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}



.aviro-airlines .view-21 {
    position: absolute;
    top: 178px;
    left: 107px;
    width: 193px;
    height: 43px;
}

.aviro-airlines .text-wrapper-40 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-SemiBold", Helvetica;
    font-weight: 600;
    color: #3d3a3ae6;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
}

.aviro-airlines .rectangle-5 {
    position: absolute;
    top: 22px;
    left: 0;
    width: 191px;
    height: 21px;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: var(--variable-collection-brand);
}
/* Inject original CSS code here */

.aviro-airlines .search-form {
    display: contents;
}

.aviro-airlines .rectangle {
    background: transparent;
    border: none;
    outline: none;
    padding: 24px 30px 24px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}

.aviro-airlines .rectangle::placeholder {
    color: #00000066;
}

.aviro-airlines .rectangle-2 {
    background: transparent;
    border: none;
    outline: none;
    padding: 24px 30px 24px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}

.aviro-airlines .rectangle-2::placeholder {
    color: #00000066;
}


.aviro-airlines .return,
.aviro-airlines .departure,
.aviro-airlines .passengers {
    background: transparent;
    border: none;
    outline: none;
    padding: 24px 10px 24px 30px;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
}

.aviro-airlines .return:not(:placeholder-shown),
.aviro-airlines .departure:not(:placeholder-shown) {
    color: #000000;
}

.aviro-airlines .return::placeholder,
.aviro-airlines .departure::placeholder,
.aviro-airlines .passengers::placeholder {
    color: #00000066;
}

.aviro-airlines .return::-webkit-calendar-picker-indicator,
.aviro-airlines .departure::-webkit-calendar-picker-indicator {
    opacity: 0.6;
    cursor: pointer;
    margin-right: 45px;
    position: relative;
}

.aviro-airlines .rectangle-3 {
    border: none;
    cursor: pointer;
    padding: 0;
    transition: opacity 0.2s;
}

.aviro-airlines .rectangle-3:hover {
    opacity: 0.9;
}

.aviro-airlines .rectangle-3:active {
    opacity: 0.8;
}

.aviro-airlines .swap {
    cursor: pointer;
    transition: transform 0.2s;
}

.aviro-airlines .swap:hover {
    transform: scale(1.1);
}

.aviro-airlines .view-5 label,
.aviro-airlines .view-6 label,
.aviro-airlines .view-7 label,
.aviro-airlines .view-8 label,
.aviro-airlines .view-9 label {
    position: absolute;
    pointer-events: none;
}

.aviro-airlines .view-13 ul,
.aviro-airlines .view-14 ul,
.aviro-airlines .view-15 ul,
.aviro-airlines .view-16 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.aviro-airlines .view-13 li,
.aviro-airlines .view-14 li,
.aviro-airlines .view-15 li,
.aviro-airlines .view-16 li {
    margin: 0;
}

.aviro-airlines a {
    color: inherit;
    text-decoration: none;
    transition: opacity 0.2s;
}

.aviro-airlines a:hover {
    opacity: 0.8;
}

.aviro-airlines a:focus-visible {
    outline: 2px solid var(--variable-collection-brand);
    outline-offset: 2px;
}

.aviro-airlines .text-wrapper-2 a,
.aviro-airlines .text-wrapper-12 a,
.aviro-airlines .text-wrapper-13 a {
    display: inline-block;
}

.footer-rectangle {
    max-width: 1480px;
    margin: 0 auto;
    height: 327px;
    position: relative;

}

footer {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 327px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #8F8F8F;
}

.view-12 {
    position: absolute;
    width: 55.68%;
    height: 9.79%;
    top: 8.87%;
    left: 6.76%;
}

.text-wrapper-14 {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
}

.text-wrapper-15 {
    position: absolute;
    width: 19.42%;
    height: 100%;
    top: 0;
    left: 80.10%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.view-13 {
    position: absolute;
    width: 19.32%;
    height: 37.92%;
    top: 24.77%;
    left: 72.30%;
}
.text-wrapper-16 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-17 {
    position: static;
    width: auto;
    height: auto;
    top: 56.45%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-18 {
    position: static;
    width: auto;
    height: auto;
    top: 28.23%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-19 {
    position: static;
    width: auto;
    height: auto;
    top: 84.68%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-14 {
    position: absolute;
    width: 10.74%;
    height: 48.62%;
    top: 24.77%;
    left: 6.76%;
}

.text-wrapper-20 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-21 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-22 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-23 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-24 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-15 {
    position: absolute;
    width: 17.57%;
    height: 48.62%;
    top: 24.77%;
    left: 27.03%;
}
.text-wrapper-25 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-26 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-27 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-28 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-29 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-16 {
    position: absolute;
    width: 9.59%;
    height: 48.62%;
    top: 24.77%;
    left: 51.35%;
}

.text-wrapper-30 {
    position: static;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-31 {
    position: static;
    width: auto;
    height: auto;
    top: 44.03%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-32 {
    position: static;
    width: auto;
    height: auto;
    top: 22.01%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-33 {
    position: static;
    width: auto;
    height: auto;
    top: 66.04%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-34 {
    position: static;
    width: auto;
    height: auto;
    top: 88.05%;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #2c2b2b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.rectangle-4 {
    position: absolute;
    width: 86.49%;
    height: 9.48%;
    top: 79.51%;
    left: 6.76%;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #00000033;
}

.view-17 {
    position: absolute;
    width: 1279px;
    height: 42px;
    top: 275px;
    left: 101px;
}

.view-18 {
    position: absolute;
    width: 28.54%;
    height: 88.10%;
    top: 0;
    left: 71.93%;
}

.text-wrapper-35 {
    position: absolute;
    width: 6.30%;
    height: 43.24%;
    top: 0;
    left: 0;
    font-family: "Red Hat Display-Regular", Helvetica;
    font-weight: 400;
    color: #313131;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-36 {
    position: absolute;
    width: 40.27%;
    height: 51.35%;
    top: 48.65%;
    left: 0;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.text-wrapper-37 {
    position: absolute;
    width: 30.68%;
    height: 51.35%;
    top: 48.65%;
    left: 67.67%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.view-19 {
    position: absolute;
    width: 6.02%;
    height: 71.43%;
    top: 28.57%;
    left: 0;
}

.text-wrapper-38 {
    position: absolute;
    width: 32.47%;
    height: 63.33%;
    top: 20.00%;
    left: 64.94%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}
.chat {
    position: absolute;
    width: 38.96%;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 0.7;
    aspect-ratio: 1;
    object-fit: cover;
}

.view-20 {
    position: absolute;
    width: 12.35%;
    height: 71.43%;
    top: 28.57%;
    left: 11.10%;
}

.text-wrapper-39 {
    position: absolute;
    width: 67.09%;
    height: 63.33%;
    top: 20.00%;
    left: 31.65%;
    font-family: "Red Hat Display-Medium", Helvetica;
    font-weight: 500;
    color: #313131;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
}

.phone {
    position: absolute;
    width: 18.99%;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 0.7;
    aspect-ratio: 1;
    object-fit: cover;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

footer li{
    margin-bottom: 16px;
}
